@import './styles/reset.css';
@import './styles/variables.css';
@import './styles/global.css';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  --background-color: #ffffff;
  --card-border: #e5e7eb;
}
:root.theme-light {
  --text-color: #515afb;
  --background-color: #ffffff;
  --card-border: #e5e7eb;

  color: var(--text-color);
  background-color: var(--background-color);
}

:root.theme-dark {
  --text-color: #ffffff;
  --background-color: #242424;
  --card-border: #3a3a3a;
  color: var(--text-color);
  background-color: var(--background-color);
}

body {
  margin: 0;
  min-width: 320px;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #515afb;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #515afb;
  }
  button {
    background-color: #f9f9f9;
  }
}

html.theme-light .card {
  background: #ffffff;
  color: #ffffff;
  border: 1px solid #e5e7eb;
}
html.theme-light .card h3,
html.theme-light .card p { color: #213547; }

html.theme-dark .card {
  background: #2b2b2b;
  color: #ffffff;
  border: 1px solid #3a3a3a;
}
html.theme-dark .card h3,
html.theme-dark .card p { color: #ffffff; }
